absl-py==1.4.0
astor==0.8.1
audioread==3.0.0
cached-property==1.5.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
dataclasses==0.8
decorator==5.1.1
ffmpeg-python==0.2.0
Flask==2.0.3
Flask-Cors==3.0.10
future==0.18.3
gast==0.2.2
google-pasta==0.2.0
grpcio==1.48.2
h5py==3.1.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
librosa==0.7.2
llvmlite==0.31.0
Markdown==3.3.7
MarkupSafe==2.0.1
norbert==0.2.1
numba==0.48.0
numpy==1.19.5
opt-einsum==3.3.0
pandas==0.25.1
protobuf==3.19.6
pycparser==2.21
python-dateutil==2.8.2
pytz==2023.3
requests==2.27.1
resampy==0.3.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
soundfile==0.12.1
spleeter==1.5.4
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl==3.1.0
typing_extensions==4.1.1
urllib3==1.26.15
Werkzeug==2.0.3
wrapt==1.15.0
zipp==3.6.0
